.sidebar {
  width: 60px;
  /* Adjust width as needed */
  background-color: #252538;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: 110vh;
  box-sizing: border-box;
  /* Full height sidebar */
}

.inner-sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.active {
  color: #0088FE !important;
}

.border-active {
  border-left: 3px solid #0088FE;
}

.sidebar-icon {
  font-size: 28px;
  margin: 20px 0;
  color: #fff;
  cursor: pointer;
  /* Add pointer cursor */
  transition: color 0.3s;
  /* Smooth transition for hover effect */
}

.sidebar-icon:hover {
  color: #0088FE;
  /* Change color on hover */
}

.sidebar-contain {
  display: flex;
  justify-content: center;
  align-items: center;
}